body {
  font-size: 14px;
  background-color:white ;
}

.title {
  font-size: 20px;
  display: flex; 
  justify-content: center;
}

.container {
  margin: 25px auto;
  width: 350px;
  background:white ;
  padding: 30px;
  text-align: center;
}

.btn {
  width: 100px;
  height: 40px;
  line-height: 40px;
  background:gray;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

#timer {
  background: white;
  height: 100px;
  line-height:100px ;
  font-size: 50px;
  margin-bottom: 10px;
}

.controls {
  display: flex; 
  justify-content: center;
}

.inactive {
  opacity: 0.6;
}

#display {
  display: flex; 
  justify-content: center;
}
/*  a*/
