.start, .stop, .reset{
    display: inline;
    border:solid 1px rgb(137, 37, 37);
    border-radius: 5px;
    padding: 10px;
    background-color: #e9bcbc;
}

.clock {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
